header {
  background-image: url("../image/icons/header1.jpg");
 height: 50%;
 padding-top: 25%;
 background-color: black;

 background-size: cover;
 background-position: center center;
 color: white;
 text-align: left;

}


body {

    width: 70%;
    margin-right: auto  ;
    margin-left: auto;
    padding: 1% 2% 0%;
    background: white;
}
table {
	
    border: 1px solid  #0E487F;;
    width:100%;
}

.text-center {
  text-align: left;
}



.container {
     float: middle;
}
.container > ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.title {
  font-family: 'Pacifico';
  font-weight: norma;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
  color: gray;
}

.menu-title {


  font-size: 20px;
  text-align: left;
  line-height: 1;
  color: white;
  max-width: 100%;
}

.dropdown a {
  text-decoration: none;
}
.dropdown [data-toggle="dropdown"] {
	    border: 1px solid  #0E487F;
  position: relative;
  display: block;
  color: black;
  background:lightgray;
  padding: 1px;
}
.dropdown [data-toggle="dropdown"]:hover {
  background: #2c89c6;
}
.dropdown .icon-arrow {
  position: absolute;
  display: block;
  color: #0E487F;
 
  top: 14px;
  right: 10px;
}

.dropdown .icon-arrow:before {
  content: '\25BC';
}

.dropdown .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown .dropdown-menu li {
  padding: 0;
}
.dropdown .dropdown-menu li a {
  display: block;
  color: blue;
  background: blue;

  padding: 10px 10px;
}
.dropdown .dropdown-menu li a:hover {
  background: #f6f6f6;
}
.dropdown .show, .dropdown .hide {

  transform-origin: 50% 0%;
}
.dropdown .show {
  display: block;
  max-height: 9999px;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.dropdown .hide {
  max-height: 0;

}
